<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-12 col-lg-6 justify-content-center d-flex">
        <mat-chip-listbox>
            <mat-chip-option>
                Dati Anagrafici
            </mat-chip-option>
            <mat-chip-option>
                {{user==="studente" ? "Assenze" : "Lista Studenti"}}  
            </mat-chip-option>
            <mat-chip-option>
                {{user === "studente" ? "Voti" : "Firma Docente"}}
            </mat-chip-option>
            <mat-chip-option>
                Registro Classe
            </mat-chip-option>
            <mat-chip-option>
                Orario
            </mat-chip-option>
        </mat-chip-listbox>
    </div>
    <div class="col-lg-3"></div>
</div>
<router-outlet></router-outlet>