<mat-chip-listbox aria-label="Fish selection">
    <mat-chip-option>
        Dati Anagrafici
    </mat-chip-option>
    <mat-chip-option>
        {{user==="studente" ? "Assenze" : "Lista Studenti"}}
    </mat-chip-option>
    <mat-chip-option>
        {{user === "studente" ? "Voti" : "Firma Docente"}}
    </mat-chip-option>
    <mat-chip-option>
        Registro Classe
    </mat-chip-option>
    <mat-chip-option>
        Orario
    </mat-chip-option>
</mat-chip-listbox>
<router-outlet></router-outlet>