<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" viewBox="0 0 16 16">
        <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
        <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>
<div class="alert alert-success d-flex align-items-center mt-3" role="alert" *ngIf="registroService.check=='true'">
    <div class="col-11">
        <svg class="bi flex-shrink-0 me-2 svg" role="img" aria-label="Success:">
            <use xlink:href="#check-circle-fill" />
        </svg>
        Modifica riuscita - {{ registroService.message }}
    </div>
    <div class="col-1 d-flex justify-content-end">
        <i class="fa fa-times" style="font-size: 20px; cursor: pointer;" (click)="deleteAlert()"></i>
    </div>
</div>
<div class="alert alert-danger d-flex align-items-center mt-3" role="alert" *ngIf="registroService.check=='false'">
    <div class="col-11">
        <svg class="bi flex-shrink-0 me-2 svg" role="img" aria-label="Success:">
            <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        Modifica non riuscita - {{ registroService.message }}
    </div>
    <div class="col-1 d-flex justify-content-end">
        <i class="fa fa-times" style="font-size: 20px; cursor: pointer;" (click)="deleteAlert()"></i>
    </div>
</div>

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-12 col-xl-6 justify-content-center d-flex" *ngIf="registroService.loading" style="margin-top: 12rem;">
        <app-half-circle-spinner [animationDuration]="1000" [size]="60" [color]="'#ff1d5e'"></app-half-circle-spinner>
    </div>
    <div class="col-12 col-lg-6 mt-4" *ngIf="!registroService.loading">
        <table class="table">
            <caption>Lista Assenze</caption>
            <caption>
                <button class="btn btn-outline-success" (click)="giustifica()">
                    Salva giustificazioni
                </button>
            </caption>
            <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Giornata assenza</th>
                    <th scope="col">Giustificata?</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let assenza of registroService.getAssenze(); index as i">
                    <td>{{ i + 1 }}</td>
                    <td>{{ assenza.giornataAssenza }}</td>
                    <td class="justify-content-center d-flex">
                        <input class="form-check-input mb-1" type="checkbox" style="font-size: 15px;"
                            [checked]="assenza.giustificata" [disabled]="disabled(assenza)" (click)="checkAssenza(i, assenza.giustificata)">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>