<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form>
            <span class="lead fw-normal mb-0 me-3 mt-5" style="font-size: 22px;">Login</span>

            <div *ngIf="tipoUtente=='studente'; then bloccoStudente else bloccoInsegnante"></div>

            <!-- Blocco studente -->
            <ng-template #bloccoStudente>
              <!-- User code input -->
              <div class="form-outline mb-4 mt-1">
                <input type="text" id="form3Example3" class="form-control form-control-lg"
                  placeholder="Inserisci User code" />
                <label class="form-label" for="form3Example3">User code</label>
              </div>
            </ng-template>

            <!-- Blocco insegnante -->
            <ng-template #bloccoInsegnante>
              <!-- Email input -->
              <div class="form-outline mb-4 mt-1">
                <input type="mail" id="form3Example3" class="form-control form-control-lg"
                  placeholder="Inserisci email" />
                <label class="form-label" for="form3Example3">E-mail</label>
              </div>
              <!-- Codice fiscale input -->
              <div class="form-outline mb-4 mt-1">
                <input type="text" id="form3Example3" class="form-control form-control-lg"
                  placeholder="Inserisci codice fiscale" />
                <label class="form-label" for="form3Example3">Codice fiscale</label>
              </div>
            </ng-template>
            <!-- Password input -->
            <div class="form-outline mb-0" style="display: flex;">
              <input type="{{ showHide }}" id="form3Example4" class="form-control form-control-lg"
                placeholder="Inserisci password" />
                <button type="button" class="btn btn-primary" style="font-size: 20px;" (click)="showHidePassword()">
                  <i class="fa fa-eye"></i>
                </button>
            </div>
            <label class="form-label" for="form3Example4">Password</label>
  
            <div class="d-flex justify-content-between align-items-center mt-3">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Ricordami
                </label>
              </div>
              <a href="#!" class="text-body">Password dimenticata?</a>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                Login
              </button>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </section>