<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
<div class="alert alert-success d-flex align-items-center" role="alert" *ngIf="serviceStudente.checkUser=='true'">
  <svg class="bi flex-shrink-0 me-2 svg" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  Login riuscito - {{ serviceStudente.message}}
</div>
<div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="serviceStudente.checkUser=='false'">
  <svg class="bi flex-shrink-0 me-2 svg" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  Login non riuscito - {{ serviceStudente.message }}
</div>

<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-4">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form #form="ngForm" (ngSubmit)="login(form)" novalidate>
            <span class="lead fw-normal me-3 mt-5" style="font-size: 22px;">Login</span>


            <div *ngIf="tipoUtente=='studente'; then bloccoStudente else bloccoInsegnante"></div>
            <!-- Blocco studente -->
            <ng-template #bloccoStudente>
              <!-- User code input -->
              <div class="form-floating mt-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="userCode" ngModel>
                <label for="floatingInput">User code</label>
              </div>
            </ng-template>
            <!-- Blocco insegnante -->
            <ng-template #bloccoInsegnante>
              <!-- Email input -->
              <div class="form-floating mt-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="mail" ngModel>
                <label for="floatingInput">Inserisci e-mail</label>
              </div>
              <!-- Codice fiscale input -->
              <div class="form-floating mt-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="codiceFiscale" ngModel>
                <label for="floatingInput">Codice fiscale</label>
              </div>
            </ng-template>
            <!-- Password input -->
            <div class="form-floating mt-3" style="display: flex;">
              <input type="{{ showHide }}" class="form-control" id="floatingInput" placeholder="name@example.com" name="password" ngModel>
              <label for="floatingInput">Password</label>
              <button type="button" class="btn btn-primary" style="font-size: 20px; width: 60px;" (click)="showHidePassword()">
                <i [ngClass]="showHide=='password' ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
              </button>
            </div>
            <div id="passwordHelpBlock mb-4" class="form-text">
              La tua password deve essere lunga almeno 8 caratteri
            </div>
  
            <div class="d-flex justify-content-between align-items-center mt-3">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Ricordami
                </label>
              </div>
              <a class="text-body" [routerLink]="['/password-dimenticata', tipoUtente]">Password dimenticata?</a>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                Login
              </button>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </section>