<div class="padre">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" viewBox="0 0 16 16">
            <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
        <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
            <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
    </svg>
    <div class="alert alert-success d-flex align-items-center" role="alert" *ngIf="serviceStudente.checkUser=='true'">
        <svg class="bi flex-shrink-0 me-2 svg" role="img" aria-label="Success:">
            <use xlink:href="#check-circle-fill" />
        </svg>
        Login riuscito - {{ serviceStudente.message }}
    </div>
    <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="serviceStudente.checkUser=='false'">
        <svg class="bi flex-shrink-0 me-2 svg" role="img" aria-label="Success:">
            <use xlink:href="#exclamation-triangle-fill" />
        </svg>
        Login non riuscito - {{ serviceStudente.message }}
    </div>
    
    <div class="container">
        <div class="row" style="height: 25vh;"></div>
        <div class="row align-items-center">
            <div class="col-2 col-md-4"></div>
            <div class="col-8 col-md-4" [formGroup]="form">
                <!-- Blocco password dimenticata -->
                <div class="card text-center w-100 h-100" *ngIf="token==null">
                    <div class="card-header h5 text-white bg-primary">Reset password</div>
                    <div class="card-body px-5">
                        <p class="card-text py-2">
                            Inserisci {{ notFoundEmail ? 'il tuo user code' : 'la tua email personale e il tuo user code' }} per poter resettare la password
                        </p>
                        <div class="form-floating mt-3" *ngIf="!notFoundEmail">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                               formControlName="mail">
                            <label for="floatingInput">Inserisci e-mail</label>
                        </div>
                        <div class="form-floating mt-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                               formControlName="userCode">
                            <label for="floatingInput">Inserisci user code</label>
                        </div>
                        <div class="text-center text-lg-start mt-4">
                            <button type="submit" class="btn btn-primary btn-lg w-100"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="notFoundEmail ? riceviToken() : sendEmail()">
                                {{ notFoundEmail ? 'Reimposta password' : 'Invia email' }}
                            </button>
                        </div>
                        <div class="align-items-center mt-3">
                            <a class="text-body" (click)="notFoundEmail = !notFoundEmail">{{notFoundEmail ? 'Email non inviata? Reinviala' : 'Non trovi la e-mail? Clicca qui' }}</a>
                        </div>
                    </div>
                </div>
                    
                <!-- Blocco recupero password -->
                <div class="card text-center w-100 h-100" *ngIf="token!=null">
                    <div class="card-header h5 text-white bg-primary">Recupero password</div>
                    <div class="card-body px-5">
                        <p class="card-text py-2">
                            Inserisci la tua nuova password e confermala
                        </p>
                        <div class="form-floating mt-3" style="display: flex;">
                            <input type="{{ showHide }}" class="form-control" id="floatingInput" placeholder="name@example.com" (input)="controlloUgualianzaPassword()" formControlName="password">
                            <label for="floatingInput">Password</label>
                            <button type="button" class="btn btn-primary" style="font-size: 20px; width: 60px;" (click)="showHidePassword()">
                                <i [ngClass]="showHide=='password' ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
                            </button>
                        </div>
                        <div id="passwordHelpBlock mb-4" class="form-text">
                            La tua password deve essere lunga almeno 8 caratteri
                        </div>
                        <div class="form-floating mt-3" style="display: flex;">
                            <input type="{{ showHide }}" class="form-control" id="floatingInput" placeholder="name@example.com" (input)="controlloUgualianzaPassword()" formControlName="confPassword">
                            <label for="floatingInput">Conferma password</label>
                            <button type="button" class="btn btn-primary" style="font-size: 20px; width: 60px;" (click)="showHidePassword()">
                                <i [ngClass]="showHide=='password' ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
                            </button>
                        </div>
                        <div id="passwordHelpBlock mb-4" class="form-text" [ngStyle]="{ 'color': ugualianzaPassword ? 'black' : 'red' }">
                            {{ ugualianzaPassword ? 'Le password coincidono' : 'Le password non coincidono' }}
                        </div>
                        <div class="text-center text-lg-start mt-4">
                            <button type="submit" class="btn btn-primary btn-lg w-100"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="resetPassword()">
                                Reset password
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

