<div id="padre">
    <div class="padre">
        <div class="card text-center" style="width: 70%; height: 40%;">
            <div class="card-header h5 text-white bg-primary">Password Reset</div>
            <div class="card-body px-5">
                <p class="card-text py-2">
                    Inserisci la tua email personale e il tuo user code per poter resettare la password
                </p>
                <div class="form-floating mt-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="email">
                    <label for="floatingInput">Inserisci e-mail</label>
                </div>
                <div class="form-floating mt-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="userCode">
                    <label for="floatingInput">Inserisci user code</label>
                </div>
                <div class="text-center text-lg-start mt-4">
                    <button type="submit" class="btn btn-primary btn-lg w-100"
                      style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="sendEmail()">
                      Login
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>