.row{
    margin-left: 0;
    margin-right: 0;
}

.padding-form-group{
    padding: 0;
}

.btn{
    margin: 10px;
}

.svg{
    width: 20px; 
    height: 20px;
}

.padding-button{
    padding-right: 23.76px;
    padding-left: 23.76px;
}