<nav class="navbar navbar-expand-xxl bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-brand">ProgettoExprivia</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" routerLink="home" [ngClass]="isActive(['home'])">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
            [ngClass]="isActive(['elenco-docenti', 'elenco-classi'])" style="cursor: pointer;">Docenti e Ata</a>
          <ul class="dropdown-menu menu-tendina">
            <li><a class="dropdown-item" routerLink="elenco-docenti">Elenco docenti</a></li>
            <li><a class="dropdown-item">Elenco coordinatori</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="elenco-classi">Elenco classi</a></li>
            <li><a class="dropdown-item" routerLink="/segreteria">Segreteria</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="isActive(['registro-famiglie'])" style="cursor: pointer;"
            (click)="navigazioneNavbar('studente')" *ngIf="role=='studente' || role==''">Registro famiglie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="isActive(['registro-docente'])" style="cursor: pointer;"
            (click)="navigazioneNavbar('docente')" *ngIf="role=='docente' || role==''">Registro docenti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="isActive(['orario'])" style="cursor: pointer;" routerLink="orario">Orario</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
        <!-- Blocco condizione -->
        <div *ngIf="!authService.isAuthenicated(); then bloccoLogin else bloccoLogout"></div>
        <!-- Blocco login -->
        <ng-template #bloccoLogin>
          <div #bloccoLogin class="btn-group" style="margin-left: 7px;">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">Login</button>
            <ul class="dropdown-menu" style="margin-left: -60px;">
              <li><a class="dropdown-item" [routerLink]="['/login', 'studente']">Studente</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" [routerLink]="['/login', 'docente']">Docente</a></li>
            </ul>
          </div>
        </ng-template>
        <!-- Blocco logout -->
        <ng-template #bloccoLogout>
          <div #bloccoLogin class="btn-group" style="margin-left: 7px;">
            <button type="button" class="btn btn-primary" (click)="logout()">Logout</button>
          </div>
        </ng-template>
      </form>
    </div>
  </div>
</nav>

<div style="min-height: 76.6vh;">
  <router-outlet></router-outlet>
</div>

<footer class="text-center text-white" style="background-color: #f1f1f1;">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" role="button" data-mdb-ripple-color="dark"><i
          class="fa fa-facebook-f"></i></a>
      <!-- Twitter -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" role="button" data-mdb-ripple-color="dark"><i
          class="fa fa-twitter"></i></a>
      <!-- Instagram -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" role="button" data-mdb-ripple-color="dark"><i
          class="fa fa-instagram"></i></a>
      <!-- Linkedin -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" role="button" data-mdb-ripple-color="dark"><i
          class="fa fa-linkedin"></i></a>
    </section>
  </div>

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <span class="d-flex justify-content-center align-item-center text-dark mt-2">© 2023 Copyright: Tutti i diritti sono
      riservati</span>
    <div class="d-flex justify-content-center align-item-center">
      <a routerLink="/contattaci" class="btn btn-link btn-floating btn-lg text-dark m-1" role="button"
        data-mdb-ripple-color="dark"><i class="fa fa-envelope"></i> Contact Support</a>
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" role="button" data-mdb-ripple-color="dark"><i
          class="fa fa-info"></i> Informativa sulla privacy</a>
    </div>
  </div>
</footer>