<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-12 col-lg-6 mt-4">
                
        <select class="form-select" aria-label="Default select example" [(ngModel)]="selezione">
            <option *ngFor="let classe of docenteService.getClassi()" [value]="classe.sezione"> 
                {{classe.sezione}}
            </option>
        </select>

        <table class="table">
            <caption>Lista Studenti</caption>
            <thead>
                <tr>
                    <th scope="col">Studente</th>
                    <th scope="col">Commento</th>
                    <th scope="col">Presenza</th>
                    <th scope="col">Voto</th>
                    <th scope="col">Note</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
